@model Contact
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<p><b>Imię:</b> @Model.Name</p>
<p><b>Email:</b> @Model.Email</p>
<p><b>Telefon:</b> @Model.Phone</p>
<p><b>Data urodzenia:</b> @Model.Birth</b>
    <br />
<a class="btn btn-primary" asp-action="Index">Powrót</a>

